html, body {
	color: #333;
	margin: 0;
	padding: 0;
	background-color: #f2eeea;
	/* background-color: #f9f4ed; alternativ bakgrund */
  overflow-x: hidden;
}

.Site-wrapper {

	width: 100%;
}

.clr {

	clear: both;
}


nav {
  width: 100%;
  height: 60px;
  margin-top: -10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f2eeea;
  text-align: center;
  z-index: 1000;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 1000;
}

nav li {
  position: relative;
  display: inline-block;
  margin: 0px 40px;
  left: -17px;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #262321;
  vertical-align: top;
}

#nav-home {
  position: relative;
  display: inline-block;
  margin: 20px 35px;
  left: -17px;
  padding-left: 13px;
  padding-right: 13px;
}

#nav-home img {
  width: 80px;
  vertical-align: bottom;
}

nav li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: #262321;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .30s linear;
}

nav li > a:hover:before,
nav li > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.intro   {

			margin-top: 120px;

}

.intro h1 {

			font-weight: 300;
			font-size: 30px;
			display: flex;
			justify-content: center;
			font-family: 'Raleway', sans-serif;
			margin-top: 50px; 
			margin-bottom: 12px;
			text-transform: uppercase;
			
}

.intro p {


			font-size: 16px;
			font-family: 'Raleway', serif;
			margin-top: 18px; 
			margin-bottom: 5px;
			text-align: center;
			letter-spacing: 1px;
			font-weight: 100;
			line-height: 1.5;
			width: 70%;
			margin: 0 auto;

}

/* kartan */

#choice {

				font-size: 14px;
				font-family: "Raleway";
				width: 200px;
				margin: 0 auto;
				text-align: center;
				text-transform: ;
				padding-top: 40px; 
				outline: none;
				display: flex;
				justify-content: center;
				margin-top: 30px;
}

select option {

				font-family: "Raleway";
				font-color: yellow;
}

.big {

			text-decoration: bold;
}



#empty {

		margin-top: 30px;
		width: 1000px;
		height: 300px;
		display: flex;
		justify-content: center;
		font-family: "Raleway";
		line-height: 10px;
		letter-spacing: 2px;

}

 #map {

        width: 100%;
        height: 500px;
        margin-bottom: 10px;
}

.map {

		text-align: center;
}

/* universalstylat såhär för att styla korten i kartan. */

h3 {

  font-family: "Raleway";

}

p {
  font-family: "Raleway";
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: grey;
}

/* kartan slut */


/* kontroller, search bar google maps 

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchmap {
    background-color: #fff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#searchmap:focus {
    border-color: #4d90fe;
}

.box {

	float: left;
	width: 33.3%;
	box-sizing: border-box;
	padding: 0px;
	margin-top: 50px;
	border-right: solid lightgrey 1px;
}

.box h3 {

	margin-bottom: 40px;
	font-family: "Raleway"
}

.box h4 {

	font-family: "Raleway";
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 30px;
}

.box p {

	font-family: "Raleway";
	font-size: 12px;
	text-align: left;
	line-height: 1.8em;
	box-sizing: border-box;
	left: 100;
}
*/

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.upper-container {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.first-about {
  width: 100%;
  position: relative;
  display: inline-block;
}

.first-about-title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}

.first-about-title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.first-about-text {
  width: 450px;
  height: 235px;
  display: inline-block;
  position: relative;
  padding: 50px;
  background-color: #ffffff;
  vertical-align: top;
  line-height: 20px;
}

.first-about-text h1 {
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.first-about-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  text-transform: none;
}

.first-about-text p {
  font-family: "Playfair Display", serif;
  font-size: 17px;
  font-weight: 100;
  text-align: left;
  text-transform: none;
}

.first-about-text span {
  font-weight: 600;
  line-height: 1.5em;
}

.first-about-text a {
  color: #606060;
  text-decoration: none;
}

.images {
  width: 550px;
  display: inline-block;
  position: relative;
  margin-left: 30px;
  vertical-align: top;
}

.images img {
  width: 100%;
}

footer {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  background-color: #23201d;
}

.footer-text {
  width: 300px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 150px;
}

.footer-text h1 {
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #f2eeea;
}

.footer-text p, .footer-text a {
  font-family: "Raleway", serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #f2eeea;
}

.footer-text img {
  width: 11%;
  height: 11%;
  text-align: center;
  padding: 7px;
}

#icons {
  text-align: center;
}

.menu-list {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 40px;
  padding-left: 70px;
  border-left: 1px solid #f2eeea;
  vertical-align: top;
}

.menu-list a, .menu-list li {
  font-family: "Raleway", serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #f2eeea;
  list-style: none;
}

.footer-image {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-left: 25%;
}

.footer-image img {
  width: auto;
  height: 180px;
}

/* RESPONSIVE CODE */

@media only screen and (min-width: 2560px) {

nav {
    height: 130px;
    margin-top: -10px;
  }

  nav li {
  	margin: 0px 65px;
    left: -17px;
  }

  nav li a {
    font-size: 32px;
    vertical-align: top;
  }

  #nav-home {
    margin: 30px 100px;
    left: -17px;
  }

  #nav-home img {
    width: 200px;
    vertical-align: middle;
  }  

.upper-container {
    margin-top: 250px;
  }

  .first-about-title {
    margin-bottom: 100px;
  }

  .first-about-title h1 {
    font-size: 50px;
  }

  .first-about-text {
    width: 760px;
    height: 369px;
    padding: 120px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .first-about-text h2 {
    padding-top: 25px;
    font-size: 30px;
    line-height: 37px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 1000px;
    margin-left: 70px;
  } 

footer {
    height: 500px;
    margin-top: 100px;
  }

  .footer-text {
    width: 700px;
    margin-top: 70px;
    margin-left: 300px;
  }

  .footer-text h1 {
    padding-bottom: 10px;
    font-size: 28px;
  }

  .footer-text p, .footer-text a {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 11%;
    height: 11%;
    padding: 7px;
  }

  .menu-list {
    margin-top: 70px;
    margin-left: 100px;
    padding-left: 100px;
  }

  .menu-list a, .menu-list li {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 25%;
  }

  .footer-image img {
    height: 350px;
  }

}


@media only screen and (min-width: 2000px) and (max-width: 2559px) {

nav {
    height: 110px;
    margin-top: -10px;
  }

  nav li {
  	margin: 0px 55px;
    left: -17px;
  }

  nav li a {
    font-size: 25px;
    vertical-align: top;
  }

  #nav-home {
    margin: 30px 80px;
    left: -17px;
  }

  #nav-home img {
    width: 150px;
    vertical-align: middle;
  }

   .upper-container {
    margin-top: 200px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 50px;
  }

  .first-about-text {
    width: 600px;
    height: 287px;
    padding: 100px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 27px;
  }

  .first-about-text h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 800px;
    margin-left: 70px;
  }

footer {
    height: 330px;
    margin-top: 100px;
  }

  .footer-text {
    width: 550px;
    margin-top: 40px;
    margin-left: 300px;
  }

  .footer-text h1 {
    padding-bottom: 10px;
    font-size: 20px;
  }

  .footer-text p, .footer-text a {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 11%;
    height: 11%;
    padding: 7px;
  }

  .menu-list {
    margin-top: 50px;
    margin-left: 40px;
    padding-left: 70px;
  }

  .menu-list a, .menu-list li {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 25%;
  }

  .footer-image img {
    height: 250px;
  }

}


@media only screen and (min-width: 1500px) and (max-width: 1999px) {

nav {
    height: 80px;
    margin-top: -10px;
  }

  nav li {
  	margin: 0px 40px;
    left: -17px;
  }

  nav li a {
    font-size: 18px;
    vertical-align: top;
  }

  #nav-home {
    margin: 25px 60px;
    left: -17px;
  }

  #nav-home img {
    width: 110px;
    vertical-align: middle;
  }

 .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 30px;
  }

  .first-about-text {
    width: 510px;
    height: 256px;
    padding: 70px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 19px;
  }

  .first-about-text h2 {
    font-size: 20px;
    line-height: 23px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 650px;
    margin-left: 30px;
  } 

footer {
    height: 300px;
    margin-top: 100px;
  }

  .footer-text {
    width: 500px;
    margin-top: 40px;
    margin-left: 200px;
  }

  .footer-text h1 {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .footer-text p, .footer-text a {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 11%;
    height: 11%;
    padding: 7px;
  }

  .menu-list {
    margin-top: 50px;
    margin-left: 40px;
    padding-left: 70px;
  }

  .menu-list a, .menu-list li {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 20%;
  }

  .footer-image img {
    height: 230px;
  }
 } 


@media only screen and (min-width: 1200px) and (max-width: 1499px) {

nav {
    height: 60px;
    margin-top: -10px;
  }

  nav li {
  	margin: 0px 40px;
    left: -17px;
  }

  nav li a {
    font-size: 13px;
  }

  #nav-home {
    margin: 20px 35px;
    left: -17px;
  }

  #nav-home img {
    width: 80px;
    vertical-align: bottom;
  }

   .intro h1 {

      font-weight: 500;

 }   

    .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 30px;
  }

  .first-about-text {
    width: 450px;
    height: 235px;
    padding: 50px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 13px;
  }

  .first-about-text h2 {
    font-size: 14px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 550px;
    margin-left: 30px;
  }

footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 300px;
    margin-top: 40px;
    margin-left: 150px;
  }

  .footer-text h1 {
    padding-bottom: 10px;
    font-size: 12px;
  }

  .footer-text p, .footer-text a {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 11%;
    height: 11%;
    padding: 7px;
  }

  .menu-list {
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 70px;
  }

  .menu-list a, .menu-list li {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 25%;
  }

  .footer-image img {
    height: 180px;
  }
}



@media only screen and (min-width: 1000px) and (max-width: 1199px) {

nav {
    height: 55px;
    margin-top: -10px;
  }

  nav li {
    margin: 0px 30px;
    left: -17px;
  }

  nav li a {
    font-size: 13px;
  }

  #nav-home {
    margin: 20px 30px;
    left: -17px;
  }

  #nav-home img {
    width: 70px;
    vertical-align: bottom;
  }

   .intro h1 {

      font-weight: 500;
      font-size: 28px; 

 }   

 .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 25px;
  }

  .first-about-text {
    width: 350px;
    height: 173px;
    padding: 50px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 15px;
    font-size: 13px;
  }

  .first-about-text h2 {
    font-size: 14px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 450px;
    margin-left: 25px;
  } 

footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 300px;
    margin-top: 40px;
    margin-left: 100px;
  }

  .footer-text h1 {
    padding-bottom: 10px;
    font-size: 12px;
  }

  .footer-text p, .footer-text a {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 11%;
    height: 11%;
    padding: 7px;
  }

  .menu-list {
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 70px;
  }

  .menu-list a, .menu-list li {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 20%;
  }

  .footer-image img {
    height: 180px;
  }
}


@media only screen and (min-width: 770px) and (max-width: 999px) {

nav {
    height: 50px;
    margin-top: -10px;
  }

  nav li {
    margin: 0px 25px;
    left: -17px;
  }

  nav li a {
    font-size: 13px;
  }

  #nav-home {
    margin: 18px 23px;
    left: -17px;
  }

  #nav-home img {
    width: 70px;
    vertical-align: baseline;
  }

   .intro h1 {

      font-weight: 500;
      font-size: 28px; 
 }   

  .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 25px;

  }

  .first-about-text {
    width: 316px;
    height: 177px;
    padding: 27px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 25px;
    font-size: 13px;
  }

  .first-about-text h2 {
    font-size: 12px;
    line-height: 14px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    width: 380px;
    margin-left: 15px;
  } 

footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 300px;
    margin-top: 40px;
    margin-left: 50px;
  }

  .footer-text h1 {
    padding-bottom: 5px;
    font-size: 11px;
  }

  .footer-text p, .footer-text a {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 10%;
    height: 10%;
    padding: 5px;
  }

  .menu-list {
    margin-top: 40px;
    margin-left: 30px;
    padding-left: 50px;
  }

  .menu-list a, .menu-list li {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 15%;
  }

  .footer-image img {
    height: 150px;
  }
 } 


@media only screen and (min-width: 700px) and (max-width: 769px) {

nav {
    height: 55px;
    margin-top: -10px;
  }

  nav li {
    margin: 0px 25px;
    left: -17px;
  }

  nav li a {
    font-size: 12px;
  }

  #nav-home {
    margin: 20px 25px;
    left: -17px;
  }

  #nav-home img {
    width: 70px;
    vertical-align: baseline;
  }

  .intro h1 {

      font-weight: 500;
      font-size: 26px; 
 } 

.upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 60px;
  }

  .first-about-title h1 {
    font-size: 20px;
  }

  .first-about-text {
    width: 400px;
    height: 204px;
    padding: 70px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 15px;
  }

  .first-about-text h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin-left: 0px;
  }


footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 300px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .footer-text h1 {
    padding-bottom: 5px;
    font-size: 11px;
  }

  .footer-text p, .footer-text a {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 10%;
    height: 10%;
    padding: 5px;
  }

  .menu-list {
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 30px;
  }

  .menu-list a, .menu-list li {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    margin-left: 13%;
  }

  .footer-image img {
    height: 150px;
  }
 } 


@media only screen and (min-width: 520px) and (max-width: 699px) {

nav {
    height: 60px;
    margin-top: -10px;
  }

  nav li {
    margin: 0px 14px;
    left: 0px;
  }

  nav li a {
    font-size: 11px;
  }

  #nav-home {
    margin: 20px 10px;
    left: -0px;
  }

  #nav-home img {
    width: 70px;
    vertical-align: baseline;
  }

  .intro h1 {

      font-weight: 500;
      font-size: 24px; 
 } 

 .textbox-rubrik h2 {
    font-size: 20px;
    
    margin: 0 auto;
    margin-top: 70px;
  } 

  .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 50px;
  }

  .first-about-title h1 {
    font-size: 20px;
    font-weight: 500;
  }

  .first-about-text {
    width: 350px;
    height: 173px;
    padding: 50px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .first-about-text h2 {
    font-size: 13px;
    line-height: 16px;
  }

  .first-about-text p {
    font-size: 17px;
  }

  .images {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin-left: 0px;
  }

footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 250px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .footer-text h1 {
    padding-bottom: 1px;
    font-size: 10px;
  }

  .footer-text p, .footer-text a {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 9%;
    height: 9%;
    padding: 3px;
  }

  .menu-list {
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 40px;
  }

  .menu-list a, .menu-list li {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    display: none;
  }

  .footer-image img {
    display: none;
  }
}


@media only screen and (min-width: 300px) and (max-width: 519px) {

 nav {
    height: 60px;
    margin-top: -10px;
  }

  nav li {
    margin: 0px 5px;
    left: 0px;
  }

  nav li a {
    font-size: 8px;
  }

  #nav-home {
    margin: 25px 0px;
    left: -0px;
  }

  /* Variant på logga-bilden, stäm av m tilda */

  #nav-home img {
    width: 50px;
    vertical-align: baseline;
    margin-bottom: 5px;
  }

  nav li > a:before {
    bottom: 5px;
  }


.intro   {

      margin-top: 100px;
}

.intro h1 {

      font-weight: 500;
      font-size: 22px;
}

  .textbox-rubrik h2 {
    font-size: 20px;
}

  .intro p{

    font-size: 14px;
    width: 88%;
  }


  .upper-container {
    margin-top: 100px;
  }

  .first-about-title {
    margin-bottom: 30px;
  }

  .first-about-title h1 {
    font-size: 20px;
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }

  .first-about-text {
    width: 70%;
    margin: 2%;
    height: 180px;
    padding: 50px;
    line-height: 20px;
  }

  .first-about-text h1 {
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px;
    width: 100%;
  }

  .first-about-text h2 {
    font-size: 13px;
    line-height: 16px;
    padding: 0px;
  }

  .first-about-text p {
    font-size: 17px;
    padding: 0px;
  }

  .images {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin-left: 0px;
  }  

  footer {
    height: 250px;
    margin-top: 100px;
  }

  .footer-text {
    width: 180px;
    margin-top: 70px;
    margin-left: 20px;
  }

  .footer-text h1 {
    padding-bottom: 1px;
    font-size: 7px;
  }

  .footer-text p, .footer-text a {
    font-size: 7px;
    line-height: 12px;
    letter-spacing: 0.5px;
  }

  .footer-text img {
    width: 9%;
    height: 9%;
    padding: 3px;
  }

  .menu-list {
    margin-top: 70px;
    margin-left: 10px;
    padding-left: 20px;
  }

  .menu-list a, .menu-list li {
    font-size: 7px;
    line-height: 11px;
    letter-spacing: 0.5px;
  }

  .footer-image {
    display: none;
  }

  .footer-image img {
    display: none;
  }
}